* {
    box-sizing: border-box;
}
a {
    color: #333;
}
body {
    overflow-x: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    background: #f0f0f0;
}
body.popup {
    min-width: 240px;
}
.options form {
    width: 600px;
    margin: 40px auto;
}
label {
    font-weight: bold;
    clear: both;
    display: block;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: bold;
    color: #393939;
    margin: 0 2px 0 0;
    min-height: 18px;
}
input, select {
    width: 100%;
    display: block;

    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-bottom-color: #bbb;
    -webkit-box-shadow: 0 1px 3px #D3D3D3;
    box-shadow: 0 1px 3px #D3D3D3;
    color: #393939;
    padding: 8px 10px;
    margin: 4px 4px 6px 0;
    outline: 0;
    min-height: 30px;
}
.popup input {
    width: 100%;
    margin-bottom: 10px;
}
button {
    outline: 0;
    background: #24a828;
    background: -webkit-linear-gradient(top, #24a828 0%, #1b7e1e 100%);
    background: linear-gradient(to bottom, #24a828 0%, #1b7e1e 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 20px;
    margin: 8px 4px 0 0;
    padding: 7px 20px;
    text-align: center;
    border-radius: 3px;
    min-height: 30px;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    height: 30px;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
button:hover,
button:active {
    background: #1f9323;
    background: -webkit-linear-gradient(top, #1f9323 0%, #166919 100%);
    background: linear-gradient(to bottom, #1f9323 0%, #166919 100%);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    margin: 0 0 10px;
}
p {
    font-size: 12px;
    line-height: 1.4;
    color:#555;
}
p em {
    background-color: #fff;
}

.footer {
    width: 600px;
    margin: 100px auto 0;
}
.footer p {
   line-height: 1;
   color: #999;
}
.footer a {
    color: #333;
}
